# Compiled class files
*.class
/bin/
/target/

# IDE-specific files (Eclipse)
.classpath
.project
.settings/

# Log files
*.log

# Secrets - NEVER commit this file
config.properties

# User-specific files (l mac)
.DS_Store
